.indicator {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
}

#ind1 {
  color: green;
  background-color: lightblue;
  border-radius: 20px;
  padding: 10px 15px;
}

#ind2 {
  color: purple;
  background-color: lightblue;
  padding: 10px 15px;
  border-radius: 20px;
}

#ind3 {
  color: brown;
  background-color: lightblue;
  padding: 10px 15px;
  border-radius: 20px;
}

.themesombre {
  background-color: darkcyan;
}

.themeclair {
  background-color: whitesmoke;
}
